/* Establece un alto mínimo del 100% del alto de la ventana */
body {
  min-height: 100vh;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #333; /* Fondo oscuro para resaltar el contenido */
  font-family: Arial, sans-serif;
  font-size: calc(10px + 2vmin);
  color: rgb(129, 127, 127);
}

/* Estilo para los enlaces en la aplicación */
.App-link {
  color: #61dafb; /* Color del enlace */
  text-decoration: none; /* Elimina la subrayado predeterminado */
}

/* Animación de rotación para el logotipo de la aplicación */


